<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js"></script>
    <title>Create a Research file</title>
  </head>
  <body>
    <br>
    <form action = "/researchfile/add" method = "post">
      <div class="container text-left padding"> 	    <!-- Open Container -->
        <div class="row">									            <!-- Open Row -->
          <div class="col-md-12">							        <!--Open span -->
              <div class="card" style="padding: 0px;"><!-- {'research_discription': None, 'research_name': None, 'researcherID': 'BBM', 'researcher': 'BadBoy_Mowgli', 'researcher_contact': None, 'research': []} -->
                  <h5 class="card-header" style="fa-align-left">Add a Research File</h5>
                  <div class="card-block" style="padding: 5px;">
                  <!-- -->
                  <div class="form-row" style="padding: 5px;">
                    <div class="col">
                      {% if researcher %}
                        <input type="text" class="form-control" name ="researcher" value="{{ researcher }}">
                      {% else %}
                        <input type="text" class="form-control" placeholder="Researcher Name" name ="researcher" value="">
                      {% endif %}
                    </div>
                    <div class="col">
                      {% if researcherID %}
                        <input type="text" class="form-control" name ="researcherID" value="{{ researcherID }}">
                      {% else %}
                        <input type="text" class="form-control" name ="researcherID" placeholder="Researcher ID" value="">
                      {% endif %}
                    </div>
                    <div class="col">
                      {% if researcher_contact %}
                        <input type="text" class="form-control" placeholder="Researcher Contact" name ="researcher_contact" value="{{ researcher_contact }}">
                      {% else %}
                        <input type="text" class="form-control" placeholder="Researcher Contact" name ="researcher_contact" value="">
                      {% endif %}
                    </div>
                  </div>
                  <div class="form-row" style="padding: 5px;">
                    <div class="col">
                      {% if research_pic %}
                        <input type="text" class="form-control" placeholder="Research Picture" name ="research_pic" value="{{ research_pic }}">
                      {% else %}
                        <input type="text" class="form-control" placeholder="Research Picture" name ="research_pic" value="">
                      {% endif %}
                    </div>
                    <div class="col">
                      {% if research_title %}
                        <input type="text" class="form-control" placeholder="Research Title" name ="research_title" value="{{ research_title }}">
                      {% else %}
                        <input type="text" class="form-control" placeholder="Research Title" name ="research_title" value="">
                      {% endif %}
                    </div>
                  </div>
                  <div class="form-row" style="padding: 5px;">
                    <div class="col">
                      {% if research_discription %}
                        <textarea type="text" class="form-control" placeholder="Research Discription" name = "research_discription" style="height: 190px;">{{ research_discription }}</textarea>
                      {% else %}
                        <textarea type="text" class="form-control" placeholder="Research Discription" name = "research_discription" style="height: 190px;"></textarea>
                      {% endif %}
                    </div>
                  </div>
                  <!-- -->
                  </div>
              </div>												          <!-- Close Card -->
          </div>												              <!-- Close Span -->
        </div>												                <!-- Close Row -->
      </div> 													                <!-- Close Container -->
    <br>
      <div class="container text-left padding"> 	   <!-- Open Container -->
  		<div class="row">									             <!-- Open Row -->
        <div class="col-md-12">							         <!--Open span -->
          <div class="input-group margin-bottom-sm">
            <button class="tablinks btn btn-success" type="submit"><i class="fa fa-floppy-o fa-lg" aria-hidden="true"></i>&nbsp;&nbsp;Save</button>&nbsp;
    </form>
          </div>
  			</div>&nbsp;
  	  </div>												                <!-- Close Span -->
	    </div>												                <!-- Close Row -->
    </div> 													                <!-- Close Container -->
  </body>
</html>
